 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red;">
        Password is incorrect
    </h1>
    <br>
    <h2 style="color: green;">
        <a href="login.ejs">Go back to Login</a>
    </h2>
</body>
</html>